{% extends "base.html" %}
{% block content %}
<div class="container">
    <form action="">
        <div class="mb-3">
            <label for="teacher_password1" class="form-label">New Password</label>
            <input type="password" class="form-control" id="teacher_password1" placeholder="Leave blank to keep current password" />
        </div>
        <div class="mb-3">
            <label for="teacher_password2" class="form-label">Confirm New Password</label>
            <input type="password" class="form-control" id="teacher_password2" placeholder="Confirm new password" />
        </div>
        <button type="submit" class="btn btn-success">Update Profile</button>
    </form>
</div>
{% endblock content %}