{% extends "base.html" %}
{% block content %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="teacher_password1" class="form-label">Current Password</label>
            <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Leave blank to keep current password" />
        </div>
        <div class="mb-3">
            <label for="teacher_password1" class="form-label">New Password</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Leave blank to keep current password" />
        </div>
        <div class="mb-3">
            <label for="teacher_password2" class="form-label">Confirm New Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm new password" />
        </div>
        <button type="button" class="btn btn-success" id="updatePassword">Update Password</button>
    </form>
    <div id="message" class="mt-5">

    </div>
</div>
{% include "partials/loader.html" %}
{% endblock content %}