{% extends "base.html" %}
{% block title %}Account || Signup{% endblock title %}

{% block content %}
<!-- Registration Form -->
<section class="vh-100" style="background-color: #f2f4f7;">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6">
          <div class="card shadow-lg border-0 rounded-4">
            <div class="card-body p-5">
              <h3 class="text-center mb-4 fw-bold">Create Your Account</h3>
  
              <form id="registrationForm" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <label class="form-label">User Name</label>
                  <input type="text" class="form-control" name="username" id="username" required />
                </div>

                <div class="mb-3">
                  <label class="form-label">Full Name</label>
                  <input type="text" class="form-control" name="name" id="#name" required />
                </div>
              
                <div class="mb-3">
                  <label class="form-label">Email address</label>
                  <input type="email" class="form-control" name="email" id="email" required />
                </div>
              
                <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input type="password" class="form-control" name="password" id="password" required />
                </div>
              
                <div class="mb-3">
                  <label class="form-label">Confirm Password</label>
                  <input type="password" class="form-control"  name="confirm_password" id="confirm_password" required />
                </div>
                {% if messages %}
                  <ul class="messages">
                    {% for message in messages %}
                      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
                <button type="submit" class="btn btn-primary w-100" id="student_register">Register</button>
                <p>Have any account <a href="{% url "user_login" %}">login</a> or <a href="{% url "home" %}">Home page</a></p>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  

{% endblock content %}