{% extends "base.html" %}
{% block title %}Dashboard || Teacher{% endblock title %}
{% block content %}
{% include "partials/navbar.html" %}
<div class="container-fluid">
  <div class="row">

    <!-- Sidebar -->
    <nav class="col-md-3 col-lg-2 d-md-block sidebar collapse">
      <div class="card text-center shadow-sm border-0 mt-5" style="width: 12rem; margin: auto;">
        <div class="card-body">
          {% if user.profile_image %}
          <img src="{{user.profile_image.url}}" 
              alt="Profile Picture" 
              class="rounded-circle mb-3 img-thumbnail" 
              style="width: 120px; height: 120px; object-fit: cover;">
          <small class="text-muted">{{ user.email }}</small>
          {% else %}
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" 
              alt="Profile Picture" 
              class="rounded-circle mb-3 img-thumbnail" 
              style="width: 120px; height: 120px; object-fit: cover;">
          {% endif %}
        </div>
      </div>
      <div class="position-sticky pt-3">
        <h3 class="px-3">Hello, {{user.full_name}}</h3>
        <h6 class="px-3">Instructor : {{user.subject}}</h6>
        <ul class="nav flex-column mt-4">
          <li class="nav-item">
            <a class="nav-link" href="{% url "edit_profile" %}">Profile Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "change_password" %}">Change Password</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#blog-management">Manage Course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "course_video" %}">Course Video</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'enrolled_students' %}">Students List</a>
          </li>
          <li class="nav-item mt-5">
            <a class="nav-link btn btn-danger text-white" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main Content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
      <!-- Blog Management -->
      <section id="blog-management" class="mb-5">
        <h2 class="mb-4">Manage Courses</h2>

        <!-- Add Blog Form -->
        <div class="card mb-4">
          <div class="card-header bg-primary text-white">
            {% if course_details %}
            <strong>Update course details</strong>
            {% else %}
            <strong>Add new course</strong>
            {% endif %}
          </div>
          <div class="card-body">
            <form method="POST" enctype="multipart/form-data" action={% if course_details %}{% url "update_course" course_details.slug %}{% else %}{% url "teacher_dashboard" %}{% endif %}>
              {% csrf_token %}
              <div class="mb-3">
                <input type="hidden" id="course_slug" name="course_slug" value='{% if course_details %}{{course_details.slug }}{% endif %}'>
              </div>
              <div class="mb-3">
                <label for="blogTitle" class="form-label">Blog Name</label>
                <input value='{% if course_details %}{{course_details.name}}{% endif %}' type="text" class="form-control" id="course_name" name="title" required>
              </div>
              <div class="mb-3">
                <label for="blogCategory" class="form-label">Category</label>
                <select class="form-select" id="category" name="category" required>
                  <option value="{% if course_details and course_details.category %}
                      {{course_details.category.id }}
                    {% endif %}"
                  >{{course_details.category}}</option>
                  {% for cat in categories %}
                  <option value="{{cat.id}}">{{cat.category_name}}</option>
                  {% endfor %}
                  <!-- dynamically generate if needed -->
                </select>
              </div>
              <div class="mb-3">
                <label for="teacher" class="form-label">Teacher</label>
                <select class="form-select" id="teacher" name="teacher" required>
                  <option value="{% if course_details and course_details.teacher %}{{course_details.teacher.id}}{% endif %}">{{course_details.teacher}}</option>
                  {% for teacher in teachers %}
                  <option value="{{teacher.id}}">{{teacher.full_name}}</option>
                  {% endfor %}
                  <!-- dynamically generate if needed -->
                </select>
              </div>
              <div class="mb-3">
                <label for="blogTitle" class="form-label">Slug</label>
                <input value='{% if course_details %}{{course_details.slug}}{% endif %}'  type="text" class="form-control" id="slug" name="slug" required>
              </div>
              <div class="mb-3">
                <label for="blogImage" class="form-label">Blog Image</label>
                <input type="file" class="form-control" id="image" name="image" required>
              </div>
              <div class="mb-3">
                <label for="blogImage" class="form-label">Blog Meterial</label>
                <input type="file" class="form-control" id="meterial" name="meterial" required>
              </div>
              <div class="mb-3">
                <label for="blogPrice" class="form-label">Price (₹)</label>
                <input value='{% if course_details %}{{course_details.price}}{% endif %}' type="number" class="form-control" id="price" name="price" min="0" value="0" required>
              </div>
              <div class="mb-3">
                <label for="blogContent" class="form-label">Content</label>
                <textarea class="form-control" id="description" name="description" rows="6" required>{% if course_details %}{{course_details.description}}{% endif %}</textarea>
              </div>
              <button type="submit" id="blog_submit" class="btn btn-success">Publish Course</button>
            </form>
            <p class="mt-3" id="post_response"></p>
          </div>
        </div>
      <!-- Blog List -->
      <div class="list-group mb-4 mt-4">
        {% if courses %}
        {% for course in courses %}
        <div class="list-group-item list-group-item-action card-hover d-flex      justify-content-between align-items-center">
          <div>
            <h5 class="mb-1">{{course.name}}</h5>
            <small class="text-muted">Published: {{course.created_at}}</small>
            </div>
              <div>
                <h5 class="mb-1">Category : {{course.category}}</h5>
                </div>
                <div>
                  {% if course.teacher == request.user %}
                  {% comment %} <a href="{% url "update_course" course.slug %}" class="btn btn-sm btn-warning me-2">Edit</a> {% endcomment %}
                  <button type="button" class="btn btn-warning btn-sm event-edit-btn"
                  data-id="{{ course.id }}"
                  data-title="{{ course.name }}"
                  data-category="{{ course.category.id }}"
                  data-teacher="{{ course.teacher.id }}"
                  data-description="{{ course.description }}"
                  data-slug="{{ course.slug }}"
                  data-price="{{ course.price }}"
                  data-course_slug="{{ course.slug }}">Edit</button>

                  <button type="button" class="btn btn-danger btn-sm event-delete-btn" data-slug="{{course.slug}}">Delete</button>
                  <a href="{% url "get_course" slug=course.slug %}" class="btn btn-sm btn-success ms-2">Go to course</a>
                  {% else %}
                  <p>Not Your Course</p>
                  {% endif %} 
                </div>
          </div>
            {% endfor %}
              {% else %}
                <h5 class="text-center">No courses are left</h5>
              {% endif %}
          </div>
      </section>
    </main>
  </div>
</div>

{% include "partials/loader.html" %}
{% endblock content %}
