{% extends "base.html" %}
{% block title %}Course || {{course.name}}{% endblock title %}
{% block content %}
{% include "partials/navbar.html" %}

{% if user.is_authenticated %}
  {% if course %}
    <section class="course-header">
      <div class="container">
        <div class="row g-5">
          <!-- Left content -->
          <div class="col-md-8">
            <div class="course-card">
              <h1 class="mb-3">{{course.name}}</h1>
              <h5 class="text-muted">{{course.category}}.</h5>
              <div class="d-flex align-items-center mb-4">
                <div>
                  <strong>Instructor:</strong> {{course.teacher}} <br>
                  <small class="text-muted">{{course.teacher.subject}}</small>
                </div>
              </div>
              <hr>
              <h4>What you'll learn</h4>
              <ul class="list-unstyled mb-4">
                <li>✅ Basic to advanced {{course.name}} concepts</li>
                <li>✅ Real-world projects</li>
                <li>✅ OOP, File Handling, Error Handling</li>
                <li>✅ Build your own applications</li>
              </ul>

              <h5>Course Description</h5>
              <p>{{course.description}}</p>
            </div>
          </div>

          <!-- Right Sidebar -->
          <div class="col-md-4">
            <div class="price-box">
              <img src="{{course.image.url}}" class="img-fluid rounded mb-3" alt="Course Image">
              <h3 class="text-success fw-bold mb-2">Price : ₹{{course.price}}</h3>

              <!-- Payment Form -->
              <form id="payment-form" method="POST">
                {% csrf_token %}
                <input type="hidden" name="amount" id="amount" value="{{course.price}}">
                <input type="hidden" name="course_id" id="course_id" value="{{course.id}}">
                <button id="enroll" type="submit" class="btn btn-enroll w-100 py-2 mb-3">Enroll Now</button>
              </form>

              <p class="small text-muted mb-1">Life time access</p>
              <p class="small text-muted">Support class available</p>
              <p class="small text-muted">4 to 5 Problem solving class</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% else %}
    <h1 class="text-center">404 not found</h1>
  {% endif %}
{% else %}
  <div class="text-center mt-5">
    <h4>Please login and see the course details <a href="{% url 'user_login' %}">Login</a></h4>
    <h4>Haven't any account? <a href="{% url 'signup' %}">Signup</a></h4>
  </div>
{% endif %}

{% include "partials/footer.html" %}
{% endblock content %}
